<center>
  <div id="contenu">

    <div id="deuxieme_onglet">
      <div class="desc">
        <d>Surface des travaux par siècle.</d> <br />Voici un graphique représentant la surface des oeuvres réalisées par siècle. (<a href="/2">Voir les quantités par siècle</a>)
      </div>
      <svg  class="pic"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1366px" height="600px" viewBox="0 0 1200 768" enable-background="new 0 0 1200 600" xml:space="preserve">
       <g>  
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="460" x2="1200" y2="460"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="410" x2="1200" y2="410"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="360" x2="1200" y2="360"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="310" x2="1200" y2="310"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="260" x2="1200" y2="260"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="210" x2="1200" y2="210"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="160" x2="1200" y2="160"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="110" x2="1200" y2="110"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="60" x2="1200" y2="60"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="0" y1="10" x2="1200" y2="10"/>

        <rect x="100" y="500" fill="none" width="100" height="20"/>
        <text transform="matrix(1 0 0 1 125 500)" text-anchor="middle" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">
          <tspan x="0" dy="1.2em">Inconnues</tspan>
          <tspan x="0" dy="1.2em">({{data.unknown.volume.surface}} m²)</tspan>
        </text>
        <rect x="300" y="500" fill="none" width="100" height="20"/>
        <text transform="matrix(1 0 0 1 325 500)" text-anchor="middle" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">
          <tspan x="0" dy="1.2em">16e</tspan>
          <tspan x="0" dy="1.2em">({{data.xvi.volume.surface}} m²)</tspan>
        </text>
        <rect x="500" y="500" fill="none" width="100" height="20"/>
        <text transform="matrix(1 0 0 1 525 500)" text-anchor="middle" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">
          <tspan x="0" dy="1.2em">17e</tspan>
          <tspan x="0" dy="1.2em">({{data.xvii.volume.surface}} m²)</tspan>
        </text>
        <rect x="700" y="500" fill="none" width="100" height="20"/>
        <text transform="matrix(1 0 0 1 725 500)" text-anchor="middle" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">
          <tspan x="0" dy="1.2em">18e</tspan>
          <tspan x="0" dy="1.2em">({{data.xviii.volume.surface}} m²)</tspan>
        </text>
        <rect x="900" y="500" fill="none" width="100" height="20"/>
        <text transform="matrix(1 0 0 1 925 500)" text-anchor="middle" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">
          <tspan x="0" dy="1.2em">19e</tspan>
          <tspan x="0" dy="1.2em">({{data.xix.volume.surface}} m²)</tspan>
        </text>
        <rect x="1100" y="500" fill="none" width="100" height="20"/>
        <text transform="matrix(1 0 0 1 1125 500)" text-anchor="middle" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">
          <tspan x="0" dy="1.2em">20e</tspan>
          <tspan x="0" dy="1.2em">({{data.xx.volume.surface}} m²)</tspan>
        </text>

        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="529.6729" y1="493.3496" x2="652.6656" y2="635.8417">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="50" y="{{data.unknown.volume.posY}}" fill="url(#SVGID_1_)" width="100" height="{{data.unknown.volume.height}}"/>
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="529.6729" y1="493.3496" x2="652.6656" y2="635.8417">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="250" y="{{data.xvi.volume.posY}}" fill="url(#SVGID_1_)" width="100" height="{{data.xvi.volume.height}}"/>
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="564.2842" y1="463.4736" x2="687.2778" y2="605.9668">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="450" y="{{data.xvii.volume.posY}}" fill="url(#SVGID_2_)" width="100" height="{{data.xvii.volume.height}}"/>
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="598.8965" y1="433.5977" x2="721.8901" y2="576.0908">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="650" y="{{data.xviii.volume.posY}}" fill="url(#SVGID_3_)" width="100" height="{{data.xviii.volume.height}}"/>
        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="633.5103" y1="403.7246" x2="756.503" y2="546.2167">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="850" y="{{data.xix.volume.posY}}" fill="url(#SVGID_4_)" width="100" height="{{data.xix.volume.height}}"/>
        <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="668.1211" y1="373.8477" x2="791.1147" y2="516.3408">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="1050" y="{{data.xx.volume.posY}}" fill="url(#SVGID_5_)" width="100" height="{{data.xx.volume.height}}"/>
      </g>
    </svg>
  </div>



</center>

